@font-face {
  font-family: 'CenturyGothic';
  src: url('fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('fonts/CenturyGothic.woff') format('woff'), url('fonts/CenturyGothic.ttf')  format('truetype'), url('fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url('fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/CenturyGothic-Bold.woff') format('woff'), url('fonts/CenturyGothic-Bold.ttf')  format('truetype'), url('fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'CenturyGothic-BoldItalic';
  src: url('fonts/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/CenturyGothic-BoldItalic.woff') format('woff'), url('fonts/CenturyGothic-BoldItalic.ttf')  format('truetype'), url('fonts/CenturyGothic-BoldItalic.svg#CenturyGothic-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'CenturyGothic-Italic';
  src: url('fonts/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),  url('fonts/CenturyGothic-Italic.woff') format('woff'), url('fonts/CenturyGothic-Italic.ttf')  format('truetype'), url('fonts/CenturyGothic-Italic.svg#CenturyGothic-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
