@media screen and (max-width: 600px) {  
    nav {   
        height: auto;  
    }  
    nav ul {  
        width: 100%;  
        display: block;  
        height: auto;  
    }  
    nav li {  
        width: 50%;  
        float: left;  
        position: relative;  
    }  
    nav li a {
        border-right: 1px solid #576979;  
    }  
    nav a {  
        text-align: left;  
        width: 100%;  
        text-indent: 25px;  
    }  

    .social-nav > a{
        width: 54px;
    }
}

@media only screen and (max-width : 480px) {  
    nav {  
        border-bottom: 0;  
    }  
    nav ul {  
        display: none;  
        height: auto;  
    }  
    nav a#pull {  
        display: block;  
        background: rgba(0, 0, 0, 0.7);
        width: 100%;  
        position: relative;  
    }  
    nav a#pull:after {  
        content:"";  
        background: url('../images/nav-icon.png') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: relative;
        float: right;
        top: 10px;  
    }  
}

@media only screen and (max-width : 320px) {  
    nav li {  
        display: block;  
        float: none;  
        width: 100%;  
    }  
    nav li a {  
        border-bottom: 1px solid #576979;  
    }  
}


@media screen and (max-device-width: 800px) {
html { 
    background: url("../images/bg1.png") #000 no-repeat center center fixed;
}
#bgvid { display: none; }

}

@media (max-width: 772px){
    .about-us-container {
    background-color: rgba(0, 0, 0, 0.72);
    width: 100%;
    height: 100%;
    color: #FFF;
    margin: auto;
    position: relative;
    margin-bottom: 4%;
    margin-top: 4%;
    }
}
