video { display: block; }

nav {  
    height: 58px;  
    width: 100%;  
    background: rgba(0, 0, 0, 0.7);
    font-size: 11pt;  
    font-weight: bold;  
    position: relative;  
    border-bottom: 3px solid #6DA047;  
}  
nav ul {  
    padding: 0;  
    margin: 0 auto;  
    width: 80%;  
    height: 58px;  
}  

nav li {  
    display: inline;  
    float: left;  
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}

.logo{
    width: 204px;
}

.logo > a > img{
    margin-top: -86px;
}

nav a {
    font-family: 'CenturyGothic', Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;  
    display: inline-block;  
    width: 100px;  
    text-align: center;  
    text-decoration: none;  
    line-height: 40px;  
    text-shadow: 1px 1px 0px #283744;
    position: relative;
    margin-top: 10px;
}

nav li:last-child a {  
    border-right: 0;  
}

nav a:hover, nav a:active {  
    color: #6DA047; 
    text-decoration: none; 
}

nav a#pull {  
    display: none;  
}

.twitter-icn{
    background-image: url("../images/twitter-icn.png");
    width: 24px;
    height: 17px;
}

.fb-icn{
    background-image: url("../images/facebook-icn.png");
    width: 10px;
    height: 18px;
}

.search-icn{
    cursor: pointer;
    background-image: url('../images/search-icn.png');
    width: 36px;
    background-repeat: no-repeat;
    height: 36px;
    background-color: #d9d9d9;
    left: 3%;
    position: relative;
    background-position: 11px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    background-size: 15px;
}

.search {
    position: absolute;
    float: left;
    height: 36px;
    right: 38%;
    padding: 0%;
    width: 0%;
    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    -o-transition: width 0.4s;
    transition: width 0.4s;
  }

  .search-do {
    position: absolute;
    width: 64%;
    height: 36px;
    right: 38%;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
  }

  .search-do:focus{
    outline: 1px solid #00ae97 !important;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }

  .left{
    float:left;
  }
  .right{
    float:right;
}

.social-nav{
    width: 100px;
    margin-top: 9px;
}
.social-nav > a{
    width: 25px;
    margin-right:20px;
}

.search-nav > a{
    width: 194px;
}

.green-search{
    background-color: #6DA047;
}

.btn-green{
    height: 36px;
    background: #75ab4b;
    background-image: -webkit-linear-gradient(top, #75ab4b, #8fcc60);
    background-image: -moz-linear-gradient(top, #75ab4b, #8fcc60);
    background-image: -ms-linear-gradient(top, #75ab4b, #8fcc60);
    background-image: -o-linear-gradient(top, #75ab4b, #8fcc60);
    background-image: linear-gradient(to bottom, #75ab4b, #8fcc60);
    font-family: 'CenturyGothic-Bold', Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #FFF;
    text-decoration: none;
    padding: 0 13px;
    cursor: pointer;
}
.btn-green-hover{
    width: 50%;
    line-height: 40px;
    background-image: url("../images/watch.png");
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 5px;
    background-position: 9px;
    text-align: center;
}

.btn-green:hover {
  text-decoration: none;
}

.bgimage{
    background-image: url("../images/bg1.png");
    width: 100%;
    background-size: cover;
    height: auto;
}

video#bgvid {
cursor: url('../images/play.png'), default;
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url("../images/bg1.png") no-repeat;
background-size: cover;
}

.videos-items{
    width: 75%;
    height: 175px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute !important;
    left: 12%;
    bottom: 0;
}

.videos-items > div{
    height: 100%;
}

.video-label{
    background-color: rgba(0, 0, 0, 0.7); 
    color: #FFF;
    font-family: 'CenturyGothic', Tahoma, sans-serif;
    position: absolute;
    top: 81%;
    width: 100%;
    height: 40px;
    line-height: 30px;
}

.video-title{
    float: left;
}

.video-time{
    float: right;
    font-size: 11px;
    margin: 7px 11px;
    color: #969696;
}

.time-hover{
    color: #969696;
    font-size: 11px;
}

.about-us-container{
    background-color: #000;
    width: 72%;
    height: 500px;
    color: #FFF;
    margin: auto;
    position: relative;
    margin-bottom: 4%;
    margin-top: 4%;
}

.paragraphe{
    font-family: 'CenturyGothic', Tahoma, sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.section-title{
    font-family: 'CenturyGothic-Bold', Tahoma, sans-serif;
}

.about-us-image{
    margin-top: 20%;
    height: 400px;
    overflow: hidden;
    width: 100%;
    display: block;
}

.rounded-bg{
    background-color: #75ab4b;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: auto;
    position: relative;
    cursor: pointer;
}
.rounded-bg:hover{
    background-color: #FFF;
}


.service-film{
    background-image: url('../images/film-video-icn.png');
    position: absolute;
    width: 64px;
    height: 64px;
    left: 30%;
    top: 32%;
    background-repeat: no-repeat;
}

.service-film:hover{
    background-image: url('../images/film-video-icn-white.png');
}


.service-news{
    background-image: url('../images/news-coverage-icn.png');
    width: 64px;
    height: 64px;
    position: absolute;
    left: 30%;
    top: 32%;
    background-repeat: no-repeat;
}
.service-news:hover{
    background-image: url('../images/news-coverage-icn-white.png');
}

.service-equipment{
    background-image: url('../images/equipement-rental-icn.png');
    width: 64px;
    height: 64px;
    position: absolute;
    left: 30%;
    top: 32%;
    background-repeat: no-repeat;
}
.service-equipment{
    background-image: url('../images/equipement-rental-icn-white.png');
}

.service-corporal{
    background-image: url('../images/corporale-event.png');
    width: 64px;
    height: 64px;
    position: absolute;
    left: 30%;
    top: 32%;
    background-repeat: no-repeat;
}

.service-corporal:hover{
    background-image: url('../images/corporale-event-white.png');
}

.service-title{
    font-family: 'CenturyGothic', Tahoma, sans-serif;
    font-size: 17px;
    text-align: center;
    color: #75ab4b;
    margin-top: 10%;
}

.service-desc{
    text-align: center;
    color: #FFF;
    font-family: 'CenturyGothic', Tahoma, sans-serif;
    font-size: 13px;
    line-height: 19px;
}

.btn-request{
    height: 33px;
    background-color: #ccc;
    font-family: 'CenturyGothic-Bold', Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    width: 71%;
    margin: auto;
    line-height: 33px;
    margin-top: 8%;
}

.btn-request:hover{
    background-color: #C70C2D;
}

.services{
    margin-top: 5%;
}

.service-el{
    cursor: pointer;
}

.service-el:hover{

}